    div {
        color: aliceblue;
        width: 524px;
        height: 300px;
        // margin: 36px;
    }

    input {
        width: 384px;
        height: 20px;
    }

    button {
        width: 120px;
        height: 20px;
        margin: 18px;
    }

    .divCss2 {
        background-color: rgb(255, 225, 177);
        width: 350px;
        height: 250px;
        padding: 5px;
        text-align: center;
        border-radius: 20px 0 20px 0;
        position: absolute;
    }
