<div style="position: relative;left:520px; top:20px ">
  <div
    style="border-radius: 20px 0 0 0;position: absolute;width: 360px; height: 55px;background-color: rgb(88, 78, 61);z-index: 1;">
    <p style="position: absolute;text-align: center;color: rgb(255, 255, 255);
              font-size: 25px;bottom:-15px;left:155px">登入</p>
  </div>
  <div class="divCss2">
    <br><br><br><br><br>
    <label style="color: rgb(88, 78, 61);font-weight: bold">帳號 :
      <input style='border-radius: 50px;width:250px; height:20px; '></label>
      <br><br>
      <label style="color: rgb(88, 78, 61);font-weight: bold">密碼 :
        <input style='border-radius: 50px;width:250px; height:20px'></label>
      <p><button style="background-color:rgb(88, 78, 61); width:100px; height:25px;
                            color:rgb(255, 255, 255) ;border-radius: 50px;">確認</button>
      </p>
  </div>
</div>

<label>我是頁面B</label>
<br>
<label><input type stringS></label>
