<!-- <p>weather works!</p> -->
<div style="margin: 0 30px 0 30px;border-radius: 30px 0 30px 0;height: 180px;">
    <br>
    <h1 style="color:rgb(0, 0, 0);bottom:50px;">臺灣各縣市【未來3天】天氣預報</h1>
    <button class="hv" (click)="changeLocationName('鹽埕區',0)" [ngClass]="testL(0)" routerLink="/weather/kaohsiung">高雄市</button>
    <button class="hv" (click)="changeLocationName('鹽埕區',1)" [ngClass]="testL(1)" routerLink="/weather/tainan">臺南市</button>
    <button class="hv" (click)="changeLocationName('鹽埕區',3)" [ngClass]="testL(3)" routerLink="/weather/taichung">臺中市</button>
    <button class="hv" (click)="changeLocationName('鹽埕區',2)" [ngClass]="testL(2)" routerLink="/weather/taipei">臺北市</button>


  </div>
<router-outlet></router-outlet>

<!-- <div style="background-color: rgb(34, 126, 201);margin: 0 30px 0 30px;border-radius: 30px 0 30px 0;height: 400px;">
  <div>
    <br>
    <h1 style="color:rgb(255, 255, 255);bottom:50px;text-align: center;">高雄市各區【未來3天】天氣預報</h1>
  </div>
  <div>
    <br><br><br><br>
    <div style="position: relative;">
      <div></div>
      <div
        style="top:-60px; position: absolute; width: 1010px; left:90px; padding:15px;background-color: rgb(255, 255, 255);border-radius:  30px ;">
        <button class="hv" (click)="changeLocationName('鹽埕區',0)" [ngClass]="testL(0)">鹽埕區</button>
        <button class="hv" (click)="changeLocationName('鼓山區',1)" [ngClass]="testL(1)">鼓山區</button>
        <button class="hv" (click)="changeLocationName('左營區',2)" [ngClass]="testL(2)">左營區</button>
        <button class="hv" (click)="changeLocationName('楠梓區',3)" [ngClass]="testL(3)">楠梓區</button>
        <button class="hv" (click)="changeLocationName('三民區',4)" [ngClass]="testL(4)">三民區</button>
        <button class="hv" (click)="changeLocationName('新興區',5)" [ngClass]="testL(5)">新興區</button>
        <button class="hv" (click)="changeLocationName('前金區',6)" [ngClass]="testL(6)">前金區</button>
        <button class="hv" (click)="changeLocationName('苓雅區',7)" [ngClass]="testL(7)">苓雅區</button>
        <button class="hv" (click)="changeLocationName('前鎮區',8)" [ngClass]="testL(8)">前鎮區</button>
        <button class="hv" (click)="changeLocationName('旗津區',9)" [ngClass]="testL(9)">旗津區</button>
        <br>
        <button class="hv" (click)="changeLocationName('小港區',10)" [ngClass]="testL(10)">小港區</button>
        <button class="hv" (click)="changeLocationName('鳳山區',11)" [ngClass]="testL(11)">鳳山區</button>
        <button class="hv" (click)="changeLocationName('林園區',12)" [ngClass]="testL(12)">林園區</button>
        <button class="hv" (click)="changeLocationName('大寮區',13)" [ngClass]="testL(13)">大寮區</button>
        <button class="hv" (click)="changeLocationName('大樹區',14)" [ngClass]="testL(14)">大樹區</button>
        <button class="hv" (click)="changeLocationName('大社區',15)" [ngClass]="testL(15)">大社區</button>
        <button class="hv" (click)="changeLocationName('仁武區',16)" [ngClass]="testL(16)">仁武區</button>
        <button class="hv" (click)="changeLocationName('鳥松區',17)" [ngClass]="testL(17)">鳥松區</button>
        <button class="hv" (click)="changeLocationName('岡山區',18)" [ngClass]="testL(18)">岡山區</button>
        <button class="hv" (click)="changeLocationName('橋頭區',19)" [ngClass]="testL(19)">橋頭區</button>
        <br>
        <button class="hv" (click)="changeLocationName('燕巢區',20)" [ngClass]="testL(20)">燕巢區</button>
        <button class="hv" (click)="changeLocationName('田寮區',21)" [ngClass]="testL(21)">田寮區</button>
        <button class="hv" (click)="changeLocationName('阿蓮區',22)" [ngClass]="testL(22)">阿蓮區</button>
        <button class="hv" (click)="changeLocationName('路竹區',23)" [ngClass]="testL(23)">路竹區</button>
        <button class="hv" (click)="changeLocationName('湖內區',24)" [ngClass]="testL(24)">湖內區</button>
        <button class="hv" (click)="changeLocationName('茄萣區',25)" [ngClass]="testL(25)">茄萣區</button>
        <button class="hv" (click)="changeLocationName('永安區',26)" [ngClass]="testL(26)">永安區</button>
        <button class="hv" (click)="changeLocationName('彌陀區',27)" [ngClass]="testL(27)">彌陀區</button>
        <button class="hv" (click)="changeLocationName('梓官區',28)" [ngClass]="testL(28)">梓官區</button>
        <button class="hv" (click)="changeLocationName('旗山區',29)" [ngClass]="testL(29)">旗山區</button>
        <br>
        <button class="hv" (click)="changeLocationName('美濃區',30)" [ngClass]="testL(30)">美濃區</button>
        <button class="hv" (click)="changeLocationName('六龜區',31)" [ngClass]="testL(31)">六龜區</button>
        <button class="hv" (click)="changeLocationName('甲仙區',32)" [ngClass]="testL(32)">甲仙區</button>
        <button class="hv" (click)="changeLocationName('杉林區',33)" [ngClass]="testL(33)">杉林區</button>
        <button class="hv" (click)="changeLocationName('內門區',34)" [ngClass]="testL(34)">內門區</button>
        <button class="hv" (click)="changeLocationName('茂林區',35)" [ngClass]="testL(35)">茂林區</button>
        <button class="hv" (click)="changeLocationName('桃源區',36)" [ngClass]="testL(36)">桃源區</button>
        <button class="hv" (click)="changeLocationName('那瑪夏區',37)" [ngClass]="testL(37)">那瑪夏區</button>
      </div>

      <br><br><br><br><br><br><br><br><br><br><br>

    </div>
    <br>

    <div style="position: relative;left: 170px; width: 1020px; height: 30px; padding:10px; border-radius: 20px; background-color: rgb(255, 255, 255); ">
      <div style="position: absolute">
        <button class="b3 hv3" style="width: 50px;" (click)="changeWeatherElement('溫度',0)"
          [ngClass]="testW(0)">溫度</button>
        <button class="b3 hv3" (click)="changeWeatherElement('露點溫度',1)" [ngClass]="testW(1)">露點溫度</button>
        <button class="b3 hv3" (click)="changeWeatherElement('相對溼度',2)" [ngClass]="testW(2)">相對溼度</button>
        <button class="b3 hv3" (click)="changeWeatherElement('體感溫度',3)" [ngClass]="testW(3)">體感溫度</button>
        <button class="b3 hv3" style="width: 100px;" (click)="changeWeatherElement('舒適度指數',4)"
          [ngClass]="testW(4)">舒適度指數</button>
        <button class="b3 hv3" style="width: 50px;" (click)="changeWeatherElement('風速',5)"
          [ngClass]="testW(5)">風速</button>
        <button class="b3 hv3" style="width: 50px;" (click)="changeWeatherElement('風向',6)"
          [ngClass]="testW(6)">風向</button>
        <button class="b3 hv3" (click)="changeWeatherElement('3小時降雨機率',7)" style="width: 130px;"
          [ngClass]="testW(7)">3小時降雨機率</button>
        <button class="b3 hv3" (click)="changeWeatherElement('天氣現象',8)" [ngClass]="testW(8)">天氣現象</button>
        <button class="b3 hv3" (click)="changeWeatherElement('天氣預報綜合描述',9)" style="width: 150px;"
          [ngClass]="testW(9)">天氣預報綜合描述</button>
      </div>
    </div> -->

    <!-- 上半部 -->

    <!-- <hr style="background-color: rgba(34, 126, 201, 0.178);height:2px; ">
    <div style="display: flex;flex-wrap: wrap;margin: auto;">

      @for(data of this.changeOption; track $index){

      @if( this.option==0 ){
      <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 120px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.603);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.DataTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
        <p style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.DataTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.DataTime.replace('+','T').split('T')[1].split(':')[1]}}</p>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">{{WeatherElement}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-size: 26px;color: rgb(255, 255, 255);text-shadow: 1px 2px 3px rgba(34, 126, 201, 0.603) ; ">{{data.ElementValue[0].Temperature}}°C</label>
      </div>
      }
      @if( this.option==1 ){
        <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 120px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.603);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.DataTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
        <p style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.DataTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.DataTime.replace('+','T').split('T')[1].split(':')[1]}}</p>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">{{WeatherElement}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-size: 26px;color: rgb(255, 255, 255);text-shadow: 1px 2px 3px rgba(34, 126, 201, 0.603) ; ">{{data.ElementValue[0].DewPoint}}°C</label>
      </div>
      }
      @if( this.option==2 ){
         <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 120px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.603);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.DataTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
        <p style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.DataTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.DataTime.replace('+','T').split('T')[1].split(':')[1]}}</p>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">{{WeatherElement}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-size: 26px;color: rgb(255, 255, 255);text-shadow: 1px 2px 3px rgba(34, 126, 201, 0.603) ; ">{{data.ElementValue[0].RelativeHumidity}}%</label>
      </div>
      }
      @if( this.option==3 ){
        <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 120px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.603);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.DataTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
        <p style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.DataTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.DataTime.replace('+','T').split('T')[1].split(':')[1]}}</p>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">{{WeatherElement}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-size: 26px;color: rgb(255, 255, 255);text-shadow: 1px 2px 3px rgba(34, 126, 201, 0.603) ; ">{{data.ElementValue[0].ApparentTemperature}}°C</label>
      </div>
      }
      @if( this.option==4 ){
         <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 160px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.393);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.DataTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
        <p style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.DataTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.DataTime.replace('+','T').split('T')[1].split(':')[1]}}</p>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">{{WeatherElement}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-size: 26px;color: rgb(255, 255, 255);text-shadow: 1px 2px 3px rgba(34, 126, 201, 0.603) ; ">{{data.ElementValue[0].ComfortIndex}}</label>
        <br><br>
        <label style="font-weight: 550; text-align: center;width: 160px; font-size:18px; background-color: rgba(24, 112, 185, 0.813);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.ElementValue[0].ComfortIndexDescription}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      </div>
      }
      @if( this.option==5 ){
        <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 170px;width: 200px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.603);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.DataTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
        <p style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.DataTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.DataTime.replace('+','T').split('T')[1].split(':')[1]}}</p>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">蒲福氏風級&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-size: 26px;color: rgb(255, 255, 255);text-shadow: 1px 2px 3px rgba(34, 126, 201, 0.603) ; ">{{data.ElementValue[0].BeaufortScale}} </label>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">級</label>
        <br><br>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">{{WeatherElement}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-size: 26px;color: rgb(255, 255, 255);text-shadow: 1px 2px 3px rgba(34, 126, 201, 0.603) ; ">{{data.ElementValue[0].WindSpeed}} </label>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">(m/s)</label>
      </div>
      }
      @if( this.option==6 ){
        <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 120px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.603);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.DataTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
        <p style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.DataTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.DataTime.replace('+','T').split('T')[1].split(':')[1]}}</p>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">{{WeatherElement}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="font-weight: 550; text-align: center;width: 160px; font-size:18px; background-color: rgba(24, 112, 185, 0.813);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;{{data.ElementValue[0].WindDirection}}&nbsp;&nbsp;</label>
      </div>
      }
      @if( this.option==7 ){
        <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 120px;width: 200px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.603);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.StartTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
          <br><br>
        <label style="width: 160labelx; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.StartTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.StartTime.replace('+','T').split('T')[1].split(':')[1]}}</label>
        <label style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">&nbsp;&nbsp;-&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.EndTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.EndTime.replace('+','T').split('T')[1].split(':')[1]}}</label>
        <br><br>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">{{WeatherElement}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-size: 26px;color: rgb(255, 255, 255);text-shadow: 1px 2px 3px rgba(34, 126, 201, 0.603) ; ">{{data.ElementValue[0].ProbabilityOfPrecipitation}}%</label>
      </div>
      }
      @if( this.option==8 ){
        <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 120px;width: 200px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.603);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.StartTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
          <br><br>
        <label style="width: 160labelx; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.StartTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.StartTime.replace('+','T').split('T')[1].split(':')[1]}}</label>
        <label style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">&nbsp;&nbsp;-&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.EndTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.EndTime.replace('+','T').split('T')[1].split(':')[1]}}</label>
        <br><br>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px; text-align: center;">{{WeatherElement}}&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</label>
        <label style="font-weight: 550; text-align: center;width: 160px; font-size:18px; background-color: rgba(24, 112, 185, 0.813);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;{{data.ElementValue[0].Weather}}&nbsp;&nbsp;</label>
      </div>
      }
      @if( this.option==9 ){
        <div style="text-align: center; background-color: rgba(63, 180, 230, 0.237);margin: 10px;padding: 10px; border-radius: 10px;height: 280px;width: 360px;">
          <label
          style="font-size:16px; background-color: rgba(34, 126, 201, 0.603);color: rgb(255, 255, 255);border-radius: 5px;">&nbsp;&nbsp;&nbsp;
          {{data.StartTime.replace('+','T').split('T')[0]}}&nbsp;&nbsp;&nbsp;</label>
          <br><br>
        <label style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.StartTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.StartTime.replace('+','T').split('T')[1].split(':')[1]}}</label>
        <label style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">&nbsp;&nbsp;-&nbsp;&nbsp;</label>
        <label style="width: 160px; text-align: center;font-weight: 550; color: rgb(13, 54, 87);border-radius: 5px;font-size: 18px;">{{data.EndTime.replace('+','T').split('T')[1].split(':')[0]}} : {{data.EndTime.replace('+','T').split('T')[1].split(':')[1]}}</label>
        <br><br>
        <label style="font-size: 18px; font-weight: 700;color: rgb(6, 86, 151);width: 160px; text-align: center;">|&nbsp;&nbsp;{{WeatherElement}}&nbsp;&nbsp;|</label>


        <br><br>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px;">{{data.ElementValue[0].WeatherDescription.split('。')[0]}}，{{data.ElementValue[0].WeatherDescription.split('。')[1]}}。</label>
        <br><br>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px;">{{data.ElementValue[0].WeatherDescription.split('。')[2]}}，{{data.ElementValue[0].WeatherDescription.split('。')[3]}}。</label>
        <br><br>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 180px;">{{data.ElementValue[0].WeatherDescription.split('。')[4].split(' ')[0]}}，{{data.ElementValue[0].WeatherDescription.split('。')[4].split(' ')[1]}}。</label>
        <br><br>
        <label style="font-weight: 550;color: rgb(13, 54, 87);width: 160px;">{{data.ElementValue[0].WeatherDescription.split('。')[5]}}。</label>

      </div>
      }

      }
    </div> -->

