.upContent{
  position: absolute;
  color:aliceblue;
}

.divLeftTitle{
  position: absolute;
  left:30px;
  background-color: rgba(220, 130, 13, 0.548);
  padding: 2px 8px 2px 8px;
  border-radius:10px 10px 10px 10px;
   color:azure
}

.leftAligned{
  position: absolute;
  left: 40px;
}

hr{
  margin-left: 35px;
  border: none;
   height: 3px;
   background-color:white;
}
