<!-- 上下兩塊內容置中 -->
<div style="display: grid; place-content: center">
  <!-- 上面區塊 -->
  <div style="width: 750px;height: 70px;
            background-color: rgb(30, 105, 143);
            margin-left: auto;margin-right: auto;
            position: relative;padding:5px;
            border-radius:10px 10px 0 0;flex: 0 0 auto">
    <h1 class="upContent" style="left:75px;bottom:2px;">前端工程師</h1>
    <h1 class="upContent" style="right:50px;bottom:8px;">吉伊卡哇</h1>
    <h3 class="upContent" style="right:50px;bottom:-12px;">Chiikawa</h3>
  </div>
  <!-- 下面區塊 -->
  <div style="Display:flex;justify-content: center">
    <!-- 左邊綠色區塊 -->
    <div style="width: 330px;height: 810px;
                background-color: rgb(213, 236, 181); position: relative; flex: 0 0 auto ">
      <img style="left:80px; top:25px; border-radius:50%; position: absolute;
                  width: 150px; height: 150px; justify-content: center;" src="/下載.jpg">
      <!-- 左邊黃色區塊 -->
      <div style="position: absolute;top: 190px; left: 30px; bottom: 25px;background-color: rgb(255, 251, 221); width: 270px;
                  border-radius: 10px 10px 10px 10px;">
        <h2 class="divLeftTitle">EDUCATION</h2>
        <br><br><br>
        <p style="position: absolute;left: 35px;">烏薩奇大學 - java學系
        <br><br>(2021-2025)</p>
        <br><br><br><br>
        <h2 class="divLeftTitle">SKILLS</h2>
        <br><br><br>
        <ul>
          <li>HTML / CSS / JAVASCRIPT</li>
          <br>
          <li>JAVA</li>
        </ul>

        <div style="height: 1;"></div>
        <h2 class="divLeftTitle">LANGUAGE</h2>
        <div style="height: 60px;"></div>
        <p style="position: absolute;left:35px;">ENGLISH / JAPANESE</p>
        <div style="height: 35px;"></div>
        <h2 class="divLeftTitle">CONTACT</h2>
        <br><br><br>
        <ul>
          <li>PHONE : 0912345678</li>
          <br>
          <li>E-mail : Chiikawa&#64;gmail.com</li>
          <br>
          <li>Line ID : Chii2025</li>
        </ul>
      </div>
    </div>

    <!-- 右邊區塊 -->
    <div style="width: 430px;height: 810px;
  background-color: #b2d5f1;position: relative;flex: 0 0 auto">
      <br>
      <div style="bottom:15px;">
        <h2 class="leftAligned">ABOUT ME</h2><br><br><br>
        <hr>
        <p class="leftAligned">我是努力型工程師，面對困難會緊張、會害怕，
          <br><br>
          但不會放棄!
          <br><br>
          遇到 bug 會馬上查文件、問問題、一步一步解
          <br><br>
          決掉。是喜歡把複雜的問題拆解成小任務，慢慢
          <br><br>
          完成並從中獲得成就感的人。
          <br><br>
          我相信只要持續學習、認真寫好每一行程式碼，
          <br><br>
          就能在團隊成為可靠的存在，一起完成每個專案。</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h2 class="leftAligned">WORK EXPERIENCE</h2>
        <br><br><br>
        <hr>
        <ul>
          <li><strong>小八餐廳 - 外場 PT (2023)</strong></li>
          <p class="leftAligned">1. 負責帶位、點餐、送餐、收桌與環境整理<br><br>
            2. 操作 POS 系統與收銀作業，維持帳務正確性
            <br><br>
            <li><strong>小桃鼠股份有限公司 - 實習工程師 (2024-2025)</strong></li>
            <br>
            1. 協助修復 bug、撰寫與調整程式碼
            <br><br>
            2. 使用前端技術完成頁面功能與互動效果
            <br><br>
            3. 參與專案功能開發與維護
          </p>
        </ul>
      </div>
    </div>
  </div>
</div>

